[2017-08-03 11:17] M-ZubairAhmed opened #1 "not able to start the local host"
![image](https://user-images.githubusercontent.com/17708702/28919471-2531829c-783d-11e7-831b-04e27ce4a08a.png)

I have started backend and mongo server after following all the instructions provided.

[2017-08-03 12:13] vinaypuppal commented on #1
Which node version do you have?
This app needs node version 8 or above

[2017-08-03 12:19] M-ZubairAhmed commented on #1
yes using node 8 solved the issue.

[2017-08-03 12:19] #1 closed

[2017-08-09 07:54] shivakrishna9 opened #4 "profile page bug"
Observed :
when clicked `'Submit'`  with `profession` field as `student` or `available for hire`
an error is thrown asking for `company name` but there is no `company field` to fill in.

Expected :
Error should be thrown only when `profession` is `working`

[2017-08-09 11:14] #4 closed

[2017-09-22 12:02] M-ZubairAhmed opened #8 "Description regex"
Meetup api's description key sends plain string which included html tags in.
### Required
- [x]  Filter out image tag and store the image src value
- [x]  Remove all html tags
- [ ]  Then limit the words to be displayed in the page

[2017-10-12 10:55] #8 closed

[2017-10-13 10:52] M-ZubairAhmed opened #9 "CORS"
No 'Access-Control-Allow-Origin' header is present on the requested resource, hence events page not showing any activity

[2017-10-13 11:25] M-ZubairAhmed opened #10 "Pictures, logos of various technologies"
<del>As per our [new design](https://github.com/coderplex/coderplex-website/projects/3#card-5110268)
we plan to put a small square picture of the right depending on the type of technology the meetup is on.

<del>#### Initial Plan
<del> - [ ] Collect pictures/logos of tech *(collected : 0)*
<del> - [ ] Place them in CMS
<del> - [ ] Provide the url as key-value pair for correlation on frontend

*If

[2017-10-13 22:37] duttakapil commented on #10
How are we planning to approach this? @M-ZubairAhmed will you completely take care of collecting the pics and putting them up? Can we execute this right now or shall we wait for V2 to roll out?

[2017-10-14 06:25] vinaypuppal commented on #10
Why no just use dev icons fonts like these for technology logos.
- http://konpa.github.io/devicon/
- https://github.com/vorillaz/devicons

[2017-10-14 06:25] vinaypuppal commented on #9
I did not understand this issue can you give more info?

[2017-10-14 06:33] M-ZubairAhmed commented on #10
Sounds like a good idea. I will check them out

[2017-10-16 10:02] duttakapil opened #12 "Mockups for v1"
Mocks milestones
- [x] Landing Static Website
- [ ] Learn page
- [x] Space page
- [X] Events page

@saiabhijitht you can share the mockups for the landing page, learn page, events and space in the comments below. Any one is free to comment and give feedback on the mockups, and if you have design skills, feel free to make edits and share your ideas / designs as well :)

[2017-10-16 13:22] M-ZubairAhmed commented on #12
### Events page
https://github.com/coderplex/coderplex/projects/3#card-5110268

[2017-10-16 13:28] M-ZubairAhmed commented on #10
@vinaypuppal But how do we filter them out, like api does not give a particular tag out. So how do we choose the appropriate icon?

[2017-10-16 18:27] saiabhijitht commented on #12
![learn layout4](https://user-images.githubusercontent.com/23223985/31628252-c574dad6-b2cd-11e7-83af-ccb6ae261ee9.jpg)

[2017-10-17 03:01] duttakapil commented on #12
We also only need the About Us and Contact Us in the footer, at least as of now

[2017-10-17 11:34] M-ZubairAhmed opened #13 "Update react and next version"
- [x] Upgrade to [React v16.0.0](https://www.npmjs.com/package/react)
- [x] Upgrade to [NextJs v4.1.0](https://www.npmjs.com/package/next)
- [x] Verify build
#### *Caution : There might be breaking changes*

[2017-10-17 18:13] #9 closed

[2017-10-17 18:32] #13 closed

[2017-10-17 23:58] M-ZubairAhmed opened #15 "Events page minor changes"
- [x] Fix mobile responsiveness for events page
- [x] In future meetups text should be `attended => attending`

[2017-10-18 00:01] M-ZubairAhmed opened #16 "open in a new tab"
When clicking on an individual card in `/events` , redirected URL should open in a new tab instead of same window

[2017-10-18 00:12] kostimarko commented on #16
Hi, I can take this on.

[2017-10-18 01:57] jberry93 commented on #15
Will give it a shot 👍

[2017-10-18 05:24] #16 closed

[2017-10-18 07:02] M-ZubairAhmed opened #21 "add test deploy to contributing"
https://github.com/coderplex/coderplex/pull/20#discussion_r145326991
The comment above is a good practice for pr which works on implementation and alike. Comment can be edited to be suitable to be entered into [test deploy](https://github.com/coderplex/coderplex/blob/master/CONTRIBUTING.md#test-deploy) section of Contributing.md

[2017-10-18 07:51] shivakrishna9 commented on #21
Hi, I will take this up :)

[2017-10-18 09:46] buoyantair commented on #12
Here's another design :p
@duttakapil One thing to consider would be to list the functionalities of each page.

![coderplex-learn](https://user-images.githubusercontent.com/5159834/31711898-34fee7da-b417-11e7-8170-9062f1753c46.png)

[2017-10-18 09:52] M-ZubairAhmed commented on #12
@buoyantair i dont see much difference with @saiabhijitht design here

[2017-10-18 09:54] buoyantair commented on #12
@M-ZubairAhmed The tiles weren't as nice I guess. You have the freedom to choose anyways.

[2017-10-18 09:56] M-ZubairAhmed commented on #12
@buoyantair you can try with other pages as well if you can it will be helpful for us

[2017-10-18 10:34] #21 closed

[2017-10-18 14:14] duttakapil commented on #12
@buoyantair check the wiki, we have user stories there. Also, we have urgency of landing page and space page

[2017-10-18 15:03] buoyantair commented on #12
@duttakapil Okay, what do I put in the landing page?

[2017-10-18 17:44] M-ZubairAhmed commented on #12
@duttakapil any relevant matter, which reflects our mission, goals etc.

[2017-10-18 18:15] M-ZubairAhmed commented on #15
thank you
merged https://github.com/coderplex/coderplex/pull/20

[2017-10-18 18:15] #15 closed

[2017-10-18 18:16] saiabhijitht commented on #12
Here's a basic structure I've created for the landing page.

![home3](https://user-images.githubusercontent.com/23223985/31734906-ce0559aa-b45d-11e7-8e7e-8200ae317b73.jpg)

Possible improvements :
- Color pallet
- Typography
- Banner image / gradient
- Background illustration for space section
- Spacing / padding

If you have any more edit suggestions or feedback, you can post them below. If you'r

[2017-10-19 01:38] vinaypuppal opened #25 "Raise a request for CNAME and A records for medium coderplex blog"
Raise a request for CNAME and A records for medium coderplex blog https://help.medium.com/hc/en-us/articles/115003415108-Set-up-your-custom-domain-

We will place it under https://coderplex.org/blog

[2017-10-19 01:45] vinaypuppal commented on #25
Ignore this I just found we need to pay $75 for custom domains on medium

[2017-10-19 01:45] #25 closed

[2017-10-19 08:43] cg-cnu opened #26 "fix urls"
Links have old freecodecamp urls.

[2017-10-19 08:44] cg-cnu commented on #26
Few still pending.
* Youtube
* Meetup api calls

[2017-10-19 09:31] M-ZubairAhmed commented on #26
I don't think we are planning to put link of meetup API calls
You can include YouTube though

[2017-10-19 14:35] saiabhijitht commented on #12
![homepage10](https://user-images.githubusercontent.com/23223985/31776238-976a3c2a-b508-11e7-9ab2-0f0912b2aa59.jpg)

[2017-10-19 14:58] meetzaveri commented on #26
What exactly due you want to add? Can I have description of bug more precisely? Seems that I will be able to work on this issue

[2017-10-19 15:09] vinaypuppal commented on #12
@saiabhijitht This looks awesome ❤️.

- Can you also improve Navbar and highlight `login/register` button to get user attention?
- How about adding some border radius to cards and buttons?

[2017-10-19 15:20] vinaypuppal commented on #26
@meetzaveri thank you for your interest but we received a pull request #27 for this issue.

[2017-10-19 15:27] #26 closed

[2017-10-20 06:31] M-ZubairAhmed commented on #12
@saiabhijitht thats such an amazing layout. woah

[2017-10-20 08:00] saiabhijitht commented on #12
![space2](https://user-images.githubusercontent.com/23223985/31810827-c6a389a0-b59a-11e7-9ca1-b80f9c25c704.jpg)

[2017-10-20 08:07] buoyantair commented on #12
@saiabhijitht

- The shadows are bit too much, maybe you don't want the blur radius to be a lot.
- Add a bit of padding top and bottom to the elements inside the Activities & Schedule panel.
- Add a bit of color to some parts of the page, for example you can make the "Who is this for?" panel full-width and then add background color similar to that of the Home page full-width panels.
- The space ar

[2017-10-20 10:12] duttakapil commented on #12
Here is the [content for the /space page](https://docs.google.com/document/d/1yuV6NeLKfzCeGUblOzzg4xt0OGQwf6TOsXMsOdz21us/edit?usp=sharing). @buoyantair if you or any one else wants to give it a shot at creating a mockup for it, go ahead. Just make sure to maintain the same theme / feel of the site

[2017-10-20 13:42] vinaypuppal opened #32 "Update landing page with..."
These features
- [x] Receive updates / call for action (enter email input - goes to Air table)
     - [x] I will send you API link where to post data soon.
- [x] Join the community (Discord link)

[2017-10-21 16:20] saiabhijitht commented on #12
![space3](https://user-images.githubusercontent.com/23223985/31853570-4ef0e218-b6a8-11e7-98c0-4592e28be7d8.jpg)

Guys, This is not the final design. As I have always said, this is just a layout. The final design(the pixel perfect design) is far away from this. Even the colorful landing page is not the final design. Keeping in mind that we have 3 features being released at same time, we definitely

[2017-10-21 22:20] #32 closed

[2017-10-22 01:41] M-ZubairAhmed opened #37 "Fields in card of event in landing page should be in each seperate line"
## Current Status
![image](https://user-images.githubusercontent.com/17708702/31857213-2e5aeb04-b6f6-11e7-9e46-527bc3031840.png)

## Proposal
- [x] Each line on the bottom of the card should all be in seperate line following given order :--
 - Date/Time
 - No. of attendees
 - Event fee
- [x] Should look the same in mobile view too

### Notes
- Please use [Styled JSX](https://github.com/zeit/styled

[2017-10-22 01:51] M-ZubairAhmed opened #38 "Suggest better styling for bottom section of landing page"
### Current status
![image](https://user-images.githubusercontent.com/17708702/31857289-6ce1adc0-b6f8-11e7-8cdb-eda8954fd2f7.png)

### Scope of improvement
#### Components involved
- Subscribe section
- Join chat section
- Footer
#### Few suggestion
- Background color of `subscribe` or `join chat` section
- Should or should not merge `subscribe` in footer
- Placement of `follow us` icons on center

[2017-10-22 02:12] M-ZubairAhmed opened #39 "warning messages for Subscribe form"
### Current state
After subscribe button is pressed, landing page component waits for the server response. If its 200 OK then renders `thank you for subscribing`

### Improvement
- [ ] Before sending the network request, check if the input field is empty, then display appropriate warning
- [ ] If the response is other than 200 OK, then prompt the user to try again with a meaningful text using [sem

[2017-10-22 02:23] M-ZubairAhmed opened #40 "Extract away subscribe section to a component"
### Proposal
By now subscribe section must have grown in to complexity. It is a wise idea to extract it out into `components` folder along with the functionality to clean code of landing page.

### Technology
React

[2017-10-22 02:34] M-ZubairAhmed opened #41 "Mockups for v2"
Discussion thread for design and mock up for next release
This is the task list for Mock-ups designs.
- Learn
  - [x] Learn page
  - [x] Learn/subject page
- Events
  - [x] Events page
- Space
  - [x] Space page
- Landing Page
  - [x] Header
  - [x] Banner
  - [x] Main Content
  - [ ] Footer
- Profile Page
  - [ ] Self
  - [ ] viewed by other community members
  - [ ] viewed by recruiters
- Login

[2017-10-22 02:38] M-ZubairAhmed commented on #41
### Landing page by [@saiabhijitht](saiabhijitht)
![Landing page](https://user-images.githubusercontent.com/23223985/31777792-9a5e3446-b50c-11e7-817c-20d68e2fda5b.jpg)

[2017-10-22 02:39] M-ZubairAhmed commented on #12
@saiabhijitht i have moved the designs for v2 into a seperate thread/issue. You may continue to use this for v1 mock ups.

[2017-10-22 02:52] vinaypuppal commented on #39
I updated this in your last PR and merged

[2017-10-22 02:52] #39 closed

[2017-10-22 02:55] M-ZubairAhmed commented on #39
yes thanks didnt see that

[2017-10-22 07:15] M-ZubairAhmed opened #44 "display nothing, if photo is not present in landing page, event section"
### Problem
If no image tag is present in the description from meetup api, application crashes

### Technology
Basic Javascript
React

### Solution
Do not render anything is regex doesnt find any image tags in the description string. This can be found under `components/row-events.js`

[2017-10-22 07:26] M-ZubairAhmed opened #45 "Grammar and typo check in space page"
### Statement
In space page i.e `/space` check for grammar accuracy and typos.

### Technology
Documentation

### Note
Multiple pull request are welcome for correcting various spelling mistakes and grammar.

[2017-10-22 07:34] M-ZubairAhmed commented on #37
Thank you @hafiz703

[2017-10-22 07:53] arsalanc-v2 commented on #44
Hey I made a pull request to resolve this but I'm not sure why the build failed

[2017-10-22 07:57] M-ZubairAhmed commented on #44
@arsalanc-v2 theres error in the code! did you host it locally?

[2017-10-22 09:30] arsalanc-v2 commented on #44
Yep I did. Is there anything I can do to fix it?

On 22 Oct 2017, 3:57 PM +0800, Zubair Ahmed <notifications@github.com>, wrote:

[2017-10-22 09:36] M-ZubairAhmed commented on #44
Please refer this
https://github.com/coderplex/coderplex/pull/46
So basically what i am trying to do is find check if regex matches any image tag, is yes then it returns in form of array and grab the first occurence. If it doesnt matches then just return an empty string

[2017-10-22 09:37] M-ZubairAhmed commented on #44
i am closing this for now. Please see other issues if you would like to contribute

[2017-10-22 09:37] #44 closed

[2017-10-22 10:38] arsalanc-v2 commented on #44
Alright thanks!

On 22 Oct 2017, 5:37 PM +0800, Zubair Ahmed <notifications@github.com>, wrote:

[2017-10-22 14:11] M-ZubairAhmed commented on #37
Issue is reopened as we would like to :--
- In card of events of landing page only the fields mentioned above me in separate line
- The events page card should remain intact

[2017-10-22 15:18] nrizvi commented on #38
I think having the follow us icon in the center is fine, I think it would be cool if you could actually place the email and join chat in the same row and separate them with line break like this:

![ui update](https://user-images.githubusercontent.com/25647751/31863363-bad3168c-b71a-11e7-85e2-be4e96d41c4d.png)

[2017-10-22 15:38] M-ZubairAhmed commented on #38
@duttakapil what do you think?

[2017-10-22 18:33] duttakapil commented on #38
I was thinking the same, but the Discord box on the left and the Email box on the right

[2017-10-22 18:48] #45 closed

[2017-10-22 18:51] M-ZubairAhmed commented on #40
@HerrVoennchen thank you so much, we hope you do come to contribute in future for any issues

[2017-10-22 18:51] #40 closed

[2017-10-22 18:57] M-ZubairAhmed commented on #12
We have released v1 of the app, hence further communication in regards to design may be carried over as mentioned above to https://github.com/coderplex/coderplex/issues/41. Hence closing this issue

[2017-10-22 18:57] #12 closed

[2017-10-22 18:59] M-ZubairAhmed commented on #38
@nrizvi would you like to work on the design you suggested, if yes please send a PR with the change

[2017-10-23 03:13] harishkotra opened #52 "Google Analytics?"
Why is the site missing Google Analytics? I am sure it's been up for a while now. Please add GA guys :) @duttakapil @M-ZubairAhmed

[2017-10-23 03:19] buoyantair commented on #10
@M-ZubairAhmed One thing you could do is create components.
Like
[code]

Make and export a collection of such components and then you can import them where every it's required and use them :D

[code]

[2017-10-23 03:46] vinaypuppal commented on #52
Hi, I already added it at proxy server level that's why you did not notice in client side code. So server side Google analytics is enabled, benefit of this we can track track every user even if they have adblockers installed which usually blocks good analytics.

@duttakapil I just invited you to analytics dashboard, check your email.

[2017-10-23 03:46] #52 closed

[2017-10-23 03:48] duttakapil commented on #52
I was about to mention this in our plan of action for v2. Good work @vinaypuppal, you are 2 steps ahead than everyone else :D

[2017-10-23 03:51] M-ZubairAhmed commented on #10
hey thank you for suggestion, but the question is from meetup API we are getting just the description, there are no tags with which we could decide which tech logo to use ? can you think about that too

[2017-10-23 04:02] harishkotra commented on #52
@vinaypuppal great. However, Adblock doesn't block Google Analytics.

[2017-10-23 04:11] vinaypuppal commented on #52
@harishkotra I don't know about **Adblock** extension but other adblockers like **uBlock Origin** do block google analytics. I am just experimenting with server side analytics which i found recently More Info here: https://medium.freecodecamp.org/save-your-analytics-from-content-blockers-7ee08c6ec7ee

[2017-10-23 04:18] duttakapil commented on #52
I just checked, and all ad blockers can block Analytics if they want to, but only some do by default. uBlock Origin is one of them, and I personally use that and recommend it to others as well.

[2017-10-23 07:34] buoyantair commented on #10
I don't understand what you're saying.. :/ can you make it a bit clear?

[2017-10-23 08:33] M-ZubairAhmed commented on #10
@buoyantair
- If you would like to know what all fields are being sent over from meetup.com, check this out [API Console](https://secure.meetup.com/meetup_api/console/?path=/:urlname/events)
- A particular meetup doesnt have a tag with which we could decide which tech logo we have to use.
Hope this help. Do you have any question?

[2017-10-23 10:50] M-ZubairAhmed opened #53 "Rearrange section above footer of landing page"
As per design suggestion from @nrizvi from issue https://github.com/coderplex/coderplex/issues/38 with a slight change in design is required
### Proposed
![image](https://user-images.githubusercontent.com/17708702/31885267-89f86ece-b80d-11e7-8e02-ccca1b74a1e8.png)
### Required
- Discord section on left
- Email section on right
- On mobile both sections should stack above each other

*If you like o

[2017-10-23 10:50] M-ZubairAhmed commented on #38
this discussion is moved to issue https://github.com/coderplex/coderplex/issues/53

[2017-10-23 10:50] #38 closed

[2017-10-23 11:34] M-ZubairAhmed opened #54 "Change headline in /learn"
#### /learn page:
Change entry from `Distributed Computing` to `Decentralized Systems`

[2017-10-23 11:46] Yogendra0Sharma commented on #54
@M-ZubairAhmed i am working on it.

[2017-10-23 11:59] #54 closed

[2017-10-23 19:30] HerrVoennchen commented on #40
you're welcome. I'll keep an eye on the project.

[2017-10-24 03:25] mazsam commented on #53
sir, can i do this issue ?

[2017-10-24 03:29] M-ZubairAhmed commented on #53
sure please go ahead

[2017-10-24 17:04] vinaypuppal commented on #53
fixed in #57

[2017-10-24 17:04] #53 closed

[2017-10-25 10:24] abiduzz420 commented on #37
Is anyone working on this issue ? I would like to take it up if no one is working on it @M-ZubairAhmed

[2017-10-25 10:31] M-ZubairAhmed commented on #37
Please continue @abiduzz420

[2017-10-25 11:28] M-ZubairAhmed commented on #41
Unfinised learn page by @saiabhijitht
![](https://user-images.githubusercontent.com/23223985/31628252-c574dad6-b2cd-11e7-83af-ccb6ae261ee9.jpg)

[2017-10-25 11:55] saiabhijitht commented on #41
<img width="961" alt="learn_subject" src="https://user-images.githubusercontent.com/23223985/31997324-3cd3b156-b9a9-11e7-8708-08a286fb3e67.png">
<img width="961" alt="learn_subject_cirriculum" src="https://user-images.githubusercontent.com/23223985/31997325-3d019eae-b9a9-11e7-9f30-3a00048bd5d8.png">
This is the update for subject page layout.

[2017-10-25 14:45] #37 closed

[2017-10-26 08:55] a1ph4 commented on #10
you can create a local database mapping names of the meetups to their technologies and use the name to filter the icons

[2017-10-26 09:44] M-ZubairAhmed commented on #10
thank you all for the suggestions. we have got enough ideas from you all to work on this task.
P.S if you believe in our [goal](https://medium.com/coderplex/a-new-name-a-new-beginning-freecodecamp-hyderabad-is-now-coderplex-b5b43dbd06ed) please star us

[2017-11-02 13:31] M-ZubairAhmed opened #61 "Setup testing framework-jest"
### Instructions
Setup jest testing framework for the app

### Notes
- For reference you can take a look at the NextJS [example](https://github.com/zeit/next.js/tree/canary/examples/with-jest)
- Follow best testing practices

[2017-11-02 19:12] #61 closed

[2017-11-03 06:34] M-ZubairAhmed opened #66 "Page after 'learn/subject'"
Let's have a discussion here so how the page looks like after user have selected a topic from `learn/subject`

[2017-11-03 06:41] M-ZubairAhmed commented on #66
So idea behind the next page is to have
- a two plane , left being scroll view of the complete curriculum  topics and left the topic content
- right plane could have useful links , best recommendations, YouTube video iframe (if available), our own high quality content (video or articles ) etc
- design is still not finalized as we would like to have everyone opinion on it.

#### previously on this

[2017-11-03 07:44] pbteja1998 commented on #66
How about a Modal Popup in mobile view when user clicks on a topic.

[2017-11-03 08:16] harishkotra commented on #66
The most intuitive way and also the most commonly used design pattern is what you mentioned Zubair. Also, having separate pages is an asset for good SEO and well.

[2017-11-03 13:23] M-ZubairAhmed commented on #66
hmm, @pbteja1998 wouldn't a modal be a not so good UX?
@harishkotra do you have any improvements on that pattern you would like to suggest on

[2017-11-03 13:54] pbteja1998 commented on #66
We can go with the same design as https://www.howtographql.com/

## Learn Page - Normal View
![learn](https://user-images.githubusercontent.com/17903466/32376925-316e88de-c0cc-11e7-93ae-59fe1b3654cd.png)

## Learn Page - Mobile View
![learn-mobile](https://user-images.githubusercontent.com/17903466/32376927-31a119b6-c0cc-11e7-8eb8-18504e2bcf6a.png)

## Learn/Subject Page - Normal View
![learn-subj

[2017-11-03 16:08] duttakapil commented on #66
@pbteja1998 this looks nice, we should take this up as inspiration for our design.

The main problem we need to address with our learn guide interface is, atm we do not have much content per unit to display on the page. We only have a few concepts, one hyperlink to a video resource and one for a text resource recommendation per concept, and a few tasks to practice those concepts. The traditional l

[2017-11-03 18:34] bhansa commented on #66
### About sidebar
What I think that the sidebar should be on the left side, most websites follow the same pattern.

Most users follow the [F-shaped reading pattern](https://www.nngroup.com/articles/f-shaped-pattern-reading-web-content/), so there is less chance user goes to right side of the page to interact.

Websites like coursera, djangogirls tutorial, python docs follow the same. This is my pe

[2017-11-05 19:05] duttakapil opened #73 "Suggested titles and description for all pages"
### Home
Title : Coderplex | Learn, Collaborate and Create with a Community
Description : We're a non-profit startup on a mission to improve the state of tech across India

### Learn
Title : Free and Open Source Learning Guides | Coderplex
Description : Curated guides with crowd-sourced recommendations of the best free online resources to learn various modern technologies

### Space
Title : Offlin

[2017-11-05 20:25] #73 closed

[2017-11-06 09:35] vinaypuppal opened #76 "test request-info-bot"

[2017-11-06 11:52] #76 closed

[2017-11-06 14:57] M-ZubairAhmed opened #77 "Adjust padding"
### Current status
![image](https://user-images.githubusercontent.com/17708702/32445184-014f2292-c32b-11e7-9f33-15b4989fcbfd.png)
The content loader for text is far off to the left. While on web view it looks correct on mobile view its a bit off.

### Possible Solution
- Adjust the padding of that particular content loader to match web view
- Related files are under `components/content-loaders` ,

[2017-11-06 15:44] pbteja1998 commented on #77
Also I think padding should be adjusted in the mobile view of "Coming Soon" section. Look at the following image
![padd](https://user-images.githubusercontent.com/17903466/32449387-68f0daba-c337-11e7-92dd-df50dcb4ab65.png)

[2017-11-06 15:52] pbteja1998 opened #78 "Redirect to Home page"
Add a link such that clicking on the coderplex logo redirects to the homepage of the website.

[2017-11-06 15:56] vinaypuppal commented on #77
@pbteja1998 Instead of padding thats text should be center aligned.

---
And this should also be fixed, these cards should be center aligned horizontally.
![screen shot 2017-11-06 at 21 24 35](https://user-images.githubusercontent.com/8843216/32449949-ee42283a-c338-11e7-9031-f377f1328bf3.png)

[2017-11-06 16:00] pbteja1998 commented on #77
@vinaypuppal, updated my comments. Also the cards are center aligned in my mobile. Maybe that is happening in only some of the mobiles.

[2017-11-06 16:04] vinaypuppal commented on #77
@pbteja1998 Yes for screen sizes below 725px width(updated the image with responsive view)

[2017-11-06 16:15] buoyantair commented on #77
Hmm I'll take this, assign me in!

[2017-11-06 16:21] vinaypuppal commented on #77
@buoyantair Yeah sure

[2017-11-06 16:25] buoyantair commented on #77
@vinaypuppal Just checked out projects, why not add issues for top features.. =3 set up a dummy api and db and let others work on dashboard or profiles etc =3

[2017-11-06 16:31] M-ZubairAhmed commented on #77
@buoyantair currently its more of trying out things and then working up from there. So we plan the features then work towards it in separate branch. If we feel like feature can be discusses we open a `discussion` issue

[2017-11-06 16:35] M-ZubairAhmed commented on #78
### For reference
![image](https://user-images.githubusercontent.com/17708702/32452060-7e473f74-c33e-11e7-9e33-2653da5adef3.png)
The logo on the top-left

[2017-11-06 16:54] duttakapil opened #79 "Right click on learn guides doesn't let user open in new tab"
Right clicking on any learn guide doesn't let the user open the guide in a new tab, which is what an average user might want to do as they browse the /learn page. Can we do something about this?

[2017-11-06 16:54] buoyantair commented on #77
@M-ZubairAhmed Ok

[2017-11-06 17:31] bhansa commented on #79
@duttakapil I see they are links but driven through javascript, so when we right click they act as div.

[2017-11-06 18:45] bhansa commented on #41
The first design looks good for the landing page by @saiabhijitht, it solves the current issues with buttons (because they are ghost buttons right now). Would be better if we put some shadow on the cards too.

Also in navbar instead of just underlining links on hover, should be a block with around 50px - 80px square thing would be better, same goes for the mobile too. Need to work on color contras

[2017-11-06 19:03] vinaypuppal commented on #78
fixed in #80

[2017-11-06 19:03] #78 closed

[2017-11-07 04:41] buoyantair commented on #77
@M-ZubairAhmed I'm getting this weird error when I tried to build
https://pastebin.com/URG70SfL

[2017-11-07 04:51] M-ZubairAhmed commented on #77
can you try with more recent version of node eg 8 or 9.
i recomend using node version manager.
if the problem still persist can you explains steps to reproduce

[2017-11-07 05:35] buoyantair commented on #77
@M-ZubairAhmed Im using 9.0.0 for nodejs and In order to reproduce the bug, just `run build`

[2017-11-07 05:39] M-ZubairAhmed commented on #77
@buoyantair could you push to pr? we can take a look from there

[2017-11-07 05:47] pbteja1998 commented on #77
Did you try reinstalling the node modules again, because your error says that it could not resolve `marked`

[2017-11-07 05:53] buoyantair commented on #77
@M-ZubairAhmed @pbteja1998 I tried to rewrite it like this
from
`import marked from 'marked';`
to
`import * as marked from 'marked';`

Still doesnt work

[2017-11-07 08:25] pbteja1998 commented on #77
Does `npm list --depth=0` has `marked` package  ?

[2017-11-07 13:58] vinaypuppal opened #82 "Update contributing file"
Under https://github.com/coderplex/coderplex/blob/master/CONTRIBUTING.md#running-this-project-locally add this as a note

We only use [Yarn](https://yarnpkg.com/lang/en/docs/install/) as our official Node package manager, and so we request you to use Yarn instead of [npm](https://npmjs.com) and commit `yarn.lock` file.

[2017-11-07 18:23] M-ZubairAhmed opened #83 "test1"
test1 description for bot

[2017-11-07 18:26] #83 closed

[2017-11-07 18:34] M-ZubairAhmed opened #84 "test2"
test2ccc

[2017-11-07 20:16] #84 closed

[2017-11-07 20:16] M-ZubairAhmed opened #85 "test"
test

[2017-11-07 20:17] #85 closed

[2017-11-08 00:09] vinaypuppal commented on #82
Added in #86

[2017-11-08 00:09] #82 closed

[2017-11-08 08:41] M-ZubairAhmed opened #87 "test2"
test2

[2017-11-08 08:42] #87 closed

[2017-11-08 08:43] M-ZubairAhmed opened #88 "test3"
test3

[2017-11-08 12:14] M-ZubairAhmed opened #89 "test5"
test5

[2017-11-08 12:46] M-ZubairAhmed opened #90 "test under final cnam"
descriptions random

[2017-11-08 13:49] #90 closed

[2017-11-08 13:49] #89 closed

[2017-11-08 13:49] #88 closed

[2017-11-08 13:50] M-ZubairAhmed opened #91 "final test for bot"
this bot is undergoing its final test , to check if this issue made it to coderplex twitter account

[2017-11-08 13:51] #91 closed

[2017-11-08 15:08] buoyantair commented on #77
@M-ZubairAhmed Make this issue open, I'm kind of busy to work on this right now :/

[2017-11-08 15:58] saiabhijitht commented on #41
![homepage17](https://user-images.githubusercontent.com/23223985/32558802-b183c9aa-c4cb-11e7-8b5f-8899853dfb75.jpg)
Guys, what do you think of this blue color instead of pink.!! I believe pink will give strain to eyes and would not be pleasing to read the content.

[2017-11-08 18:02] bhansa commented on #41
I think blue is good here but will not match the logo and the coderplex svg. Even then if we are going with this, better to have two or three colors max. so it gives the whole website a two-color or three-color theme.
And btw navbar looks better now.

[2017-11-08 18:44] saiabhijitht commented on #41
@bhansa  Yes, I meant to change the color of the logo also. I just kept it as I am not having the source file  of the logo.

[2017-11-08 18:45] saiabhijitht commented on #41
@bhansa  Yes, I meant to change the color of the logo also. I just kept it as I am not having the source file  of the logo.

[2017-11-09 00:21] M-ZubairAhmed commented on #41
@saiabhijitht also can you provide the assets used in this versions home page, we are planning to start working on this.

[2017-11-09 00:23] M-ZubairAhmed commented on #41
@duttakapil can you please source file for our logo from its creator
@saiabhijitht in which format do you want illlustrator?

[2017-11-09 03:02] M-ZubairAhmed opened #92 "Add BSD-3-Clause badge"
Add the github badge/shield of BSD-3 clause in the read me linking to the license.

[2017-11-09 03:23] #92 closed

[2017-11-09 03:24] M-ZubairAhmed opened #93 "Add license badge"
Add the github badge/shield of BSD-3 clause in the read me linking to the license.

[2017-11-09 03:41] M-ZubairAhmed opened #94 "Add twitter in footer"
#### Objective
Add coderplex twitter account in the footer of the app.

#### Directions
- Relevant code can be found in `components/footer`
- Use similar code structure as for other footer social media icons

#### Note
- Please make sure you read [Contributing guidelines](https://github.com/coderplex/coderplex/blob/master/CONTRIBUTING.md) before sending the pull request

[2017-11-09 06:45] M-ZubairAhmed opened #96 "Remove meetup from footer"
#### Objective
Remove meetup link from the footer of the app.

#### Directions
- Relevant code can be found in `components/footer`

#### Note
- Please make sure you read [Contributing guidelines](https://github.com/coderplex/coderplex/blob/master/CONTRIBUTING.md) before sending the pull request

[2017-11-09 07:08] #93 closed

[2017-11-09 11:30] duttakapil commented on #66
What are Coursera's two sidebar's for?

[2017-11-09 11:32] duttakapil commented on #96
And replace it with Twitter

[2017-11-09 17:11] loangelak commented on #96
Hi @M-ZubairAhmed and @duttakapil!!!
Interested in making the updates.  This will be my very first contribution so please be gentle.

1. Will read and follow the contribution guidelines
2. I believe the suggested changes to be made in components/footer are as follows:

ADD to Line 6: import FaTwitter from 'react-icons/lib/fa/twitter'

REPLACE line 34
FROM: <a href="https://www.meetup.com/coderplex

[2017-11-09 17:27] #79 closed

[2017-11-09 17:35] vinaypuppal commented on #96
@loangelak

YES

FROM: [m](https://www.meetup.com/coderplex/)
TO: [t](https://www.twitter.com/coderplex/)

Yes to be precise
- replace href value with https://www.twitter.com/coderplex/ and `m` with `FaTwitter` (which you added in Line 6)

[2017-11-09 19:19] loangelak commented on #96
Hi @M-ZubairAhmed and @duttakapil!!!
This would be my very first contribution.

[2017-11-09 19:31] #96 closed

[2017-11-09 19:32] vinaypuppal commented on #94
closed in #99

[2017-11-09 19:32] #94 closed

[2017-11-09 19:35] rkaranam opened #100 "Problem running dev server using yarn"
![image](https://user-images.githubusercontent.com/13974570/32625588-a0353f5c-c5b2-11e7-9ba9-60071d105857.png)

I am getting this issue when trying to run dev server.. Need help!

[2017-11-09 19:39] vinaypuppal commented on #100
Hi, @rkaranam

Which Node version do you have?
This project needs node version 8 or above as mentioned in our contribution guide requirements](https://github.com/coderplex/coderplex/blob/master/CONTRIBUTING.md#running-this-project-locally)

[2017-11-09 19:50] rkaranam opened #101 "Need installation details while using Yarn"
There is a note in the contributing document as to use **Yarn** as _Node Package Manger_ but the installation details are not specified in the document.

I used following for upgrading Node and installation of Yarn:

- [npm-windows-upgrade](https://www.npmjs.com/package/npm-windows-upgrade)

- [Yarn Installation Guide](https://yarnpkg.com/en/docs/install)

[2017-11-09 19:56] vinaypuppal commented on #101
Hi, @rkaranam
We are sorry for not providing enough information. Does using these links solved your problem mentioned in #100 ?
If so can you update `CONTRIBUTING.md` file with these links and any details which could help new contributors.

[2017-11-09 19:59] duttakapil commented on #41
@M-ZubairAhmed Pradhan has lost the original files I'm afraid. We might have to recreate the assets from scratch, in high quality. Is anyone up to volunteer for that?

[2017-11-09 20:01] vinaypuppal commented on #101
@M-ZubairAhmed Can you include node.js upgrade information for all O.S's. May be like suggesting
- [nvm](https://github.com/creationix/nvm)
- [n](https://github.com/tj/n)
- or any other tool which works with windows and linux

[2017-11-09 20:03] duttakapil commented on #41
@saiabhijitht @bhansa I now do not think we should have either the pink or the blue. I actually like our use of plain white and space in our current design, and I think we should simply enhance that. I do not feel we should think of the UI to be a feature of our website, it should in fact get out of the way, the user shouldn't even have to notice it, they should simply get absorbed into the UX. I

[2017-11-09 20:07] vinaypuppal opened #102 "Make contributing guide more new contributor friendly"
@M-ZubairAhmed
We can use this as reference
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md

[2017-11-09 20:14] rkaranam commented on #100
@vinaypuppal v6.7.0. I tried updating node using [npm-windows-upgrade](https://www.npmjs.com/package/npm-windows-upgrade) but it is of no use. It would be really helpful if you can provide the link for easiest updation of node on Windows.

[2017-11-09 20:22] vinaypuppal commented on #100
@rkaranam Sorry I dont use windows O.S so no idea how to upgrade node on windows. I think @M-ZubairAhmed can help you with this.

[2017-11-09 20:32] vinaypuppal commented on #100
Try this https://github.com/coreybutler/nvm-windows

[2017-11-10 11:33] M-ZubairAhmed commented on #102
also i will try to add along the lines of this
https://reactjs.org/docs/how-to-contribute.html

[2017-11-10 18:11] rkaranam commented on #100
@vinaypuppal Thanks Vinay, it helped in installing node 8.9.1. Allthough I ran into a couple of [issues](https://github.com/coreybutler/nvm-windows/issues/289), finally I am able to run the dev server and can see the application at port 3000. BTW, Yarn is awesome!

[2017-11-10 18:16] rkaranam commented on #101
@vinaypuppal @M-ZubairAhmed Although installation of yarn is a smooth ride, upgrading node is rather rough. Thanks to @vinaypuppal, I am able to upgrade node using **[nvm-windows](https://github.com/coreybutler/nvm-windows)**.

[2017-11-10 20:16] vinaypuppal commented on #100
oh that's good to hear. Since the problem is solved I am closing this and #101 issues.
We will be adding this upgrade info and other required details soon to contribution guide with #102 .

[2017-11-10 20:16] #100 closed

[2017-11-10 20:16] #101 closed

[2017-11-12 12:14] saiabhijitht commented on #41
<img width="960" alt="homepage20" src="https://user-images.githubusercontent.com/23223985/32698781-fa612840-c7d0-11e7-9448-7bf15f8d5860.png">
@duttakapil How about this one..!!

[2017-11-12 12:22] M-ZubairAhmed commented on #41
@saiabhijitht would you kindly also look into page after `learn/subject` https://github.com/coderplex/coderplex/issues/66 and give your suggestions. If you have time could you prepare a rough mock for us to start the work with

[2017-11-12 12:23] M-ZubairAhmed commented on #66
I was wondering what could be a better route for this page `learn/laravel/XXX`?

[2017-11-13 09:24] saiabhijitht commented on #41
Ref: http://deploy-preview-106--coderplex.netlify.com/
@vinaypuppal , I mentioned some changes below in homepage.
1. Set the global border radius to 0px for now. For all learn cards, event cards and buttons.
2. Buttons shall be sized as small, medium and Large.

3. Card design:
	Image background: #FFF;
	Title bg: #F6F6F6;
	Stroke: #B9B9B9;
	Section bg: #F6F6F6;
4. Header:
	Set Height to 60px.
	Red

[2017-11-13 10:37] pbteja1998 commented on #66
If we are going to have this page, this page anyways contains different sections as sidebar, then we can remove `/learn/laravel` page and add that route to this page.

[2017-11-13 13:28] saiabhijitht commented on #41
@vinaypuppal let us work on invisionapp to discuss changes or any queries right on the image. Follow https://invis.io/MHEFI9L2X for whole project. I will be uploading pages once they are done.

[2017-11-13 18:45] szohaib commented on #41
Ref: http://deploy-preview-106--coderplex.netlify.com/

The navbar looks a bit off on mobile. It would be great if it had a sliding transition! Like the navbar sliding into the screen from left on clicking the hamburger icon.

[2017-11-14 03:09] vinaypuppal commented on #41
@szohaib yes mobile version needs some work. But menu has sliding down animation, is that not looking good to you?

[2017-11-14 07:44] bhansa commented on #41
@duttakapil regarding the content, Can we use data from the [stackoverflow documentation dum](https://archive.org/search.php?query=stack%20overflow) instead of scraping. If somebody has already done something with that data please share the idea. I think we can use that data as the content.

[2017-11-14 08:21] szohaib commented on #41
@vinaypuppal The sliding down animation is at the right of the page currently. It would look good if the animation happens just below the hamburger icon.

[2017-11-14 09:11] M-ZubairAhmed commented on #41
@szohaib can you send a screen shot, as we have implemented it to be sliding down from below hamburger icon itself

[2017-11-14 13:56] saiabhijitht commented on #41
<img width="961" alt="subject2" src="https://user-images.githubusercontent.com/23223985/32783394-98439718-c971-11e7-9df6-f1ebd2682dd0.png">
<img width="961" alt="guide1" src="https://user-images.githubusercontent.com/23223985/32783399-9baedcdc-c971-11e7-92b0-43d0085033bd.png">
@M-ZubairAhmed @duttakapil What do you think of this flow and layouts..!!

[2017-11-14 14:12] pbteja1998 commented on #41
I think that there should be some pointer/indicator in sidebar which indicates the completed topics. I also think that there should be some indicator in the content section also showing how many tasks have been completed.(But I think 2nd one is not that necessary)

[2017-11-14 14:20] saiabhijitht commented on #41
@pbteja1998 Thank you for reminding about progress bar. I actually forgot to include it. I am currently waiting for Kapil's approval of the flow. He is not convinced about having the "laravel" page in between "Learn" and "Coderplex Laravel" for this version of product release.

[2017-11-14 16:07] szohaib commented on #41
@M-ZubairAhmed @vinaypuppal  The sliding down is on the right in safari browser.

![23627158_1692504010769310_1233105247_o](https://user-images.githubusercontent.com/17105550/32790245-e8effcee-c983-11e7-8268-a0f1cf1c7a82.jpg)

[2017-11-14 18:09] duttakapil commented on #41
Interesting @szohaib. This is not the case in Chrome / Blink. Can someone check with other browsers as well? Firefox/Gecko and others?

[2017-11-14 18:41] pbteja1998 commented on #41
Yes, it is the same case with Firefox too, but a lot better than safari, I  will upload screenshots of my mobile for reference and you can decide whether it should be dealt with or not.

When clicked on a hamburger icon,
![screenshot_20171115-000349](https://user-images.githubusercontent.com/17903466/32797912-3a8f5ff8-c999-11e7-8acb-41c7d47033a4.png)

When scrolled down a bit after clicking on the

[2017-11-15 13:06] buoyantair commented on #41
Seems to be an issue with positioning

[2017-11-15 21:00] vinaypuppal commented on #41
@szohaib Which iOS version and iPhone did you notice this issue. I tested on `iPhone7-iOS 11.0`  and `iPhoneX-iOS 11.0` simulators and did not notice this issue.

- [iPhone7-iOS 11.0 simulator screenshot](https://user-images.githubusercontent.com/8843216/32859889-dc474f68-ca75-11e7-9e5e-311f2eb1d474.png)
- [iPhoneX-iOS 11.0 simulator screenshot](https://user-images.githubusercontent.com/8843216/32

[2017-11-16 03:46] szohaib commented on #41
@vinaypuppal. On iPhone6-iOS 10.3.2

[2017-11-16 05:06] vinaypuppal commented on #41
Modified space page @saiabhijitht and @duttakapil What do you think of this flow and layout..!!
![screenshot-2017-11-16 offline co-learning spaces coderplex 1](https://user-images.githubusercontent.com/8843216/32874670-c02382fe-cab9-11e7-82e7-82dbb0d4a75b.png)

[2017-11-16 10:56] M-ZubairAhmed opened #108 "Change the name of deploy bot"
Our current bot name for deploying is coderplex-bot, i think it should be renamed to `deploy-bot` or something as our other bots dont operate under coderplex-bot name. eg. `first-timers-bot`, `tweet-issues-bot`
?

[2017-11-16 10:59] vinaypuppal commented on #108
But those are general bots which can be used by anyone, But our bot is for our organisation. So it makes sense to name it as `coderplex-bot`

[2017-11-16 11:00] M-ZubairAhmed commented on #108
also another naming suggestion could be `coderplex-deploy-bot`

[2017-11-16 11:00] vinaypuppal commented on #108
What, I did not understand?

[2017-11-16 11:02] M-ZubairAhmed commented on #108
It makes pr deployment

[2017-11-16 11:33] vinaypuppal commented on #108
Yes for now, but in the future we may use for other purposes and may use in other repositories of our organization. So keeping flexible name make sense to me. BTW it's not actually a GitHub app/bot, it's just normal GitHub account https://github.com/coderplex-bot

[2017-11-16 11:39] #102 closed

[2017-11-16 12:36] M-ZubairAhmed commented on #108
hmm makes sense

[2017-11-16 12:36] #108 closed

[2017-11-16 18:49] duttakapil commented on #41
@vinaypuppal this is good. I like the `Activities and Schedule` section. The previous `price` section by @M-ZubairAhmed I feel is better

[2017-11-16 18:53] duttakapil commented on #41
And the `Who is this for?` section can be worked on I guess

[2017-11-16 18:58] duttakapil commented on #41
We should also add the word `the best`, before `free` in our description of the learn guides.
"Our guides are crowd-sourced recommendations of the best free online resources to learn any technology"

[2017-11-17 09:24] M-ZubairAhmed commented on #77
closing as its not relevant anymore

[2017-11-17 09:24] #77 closed

[2017-11-17 13:41] saiabhijitht commented on #41
<img width="961" alt="events" src="https://user-images.githubusercontent.com/23223985/32950075-0f34a3fc-cbcb-11e7-8f96-02194a3fb396.png">
Events Cards.

[2017-11-17 17:13] duttakapil commented on #41
@saiabhijitht what's up with the sub-text under the headline?
`Because you cannot change the world alone`, with only the 1st letter capital, is good for now. We would have to rethink this element of every page later though

[2017-11-20 07:48] M-ZubairAhmed opened #110 "Add index to contributing.md"
Lets add an index/Table of content to [Contributing.md](https://github.com/coderplex/coderplex/blob/develop/.github/CONTRIBUTING.md) as the file is contains a quite a bit of content making it difficult to skim read.

*Please make sure you do read [CONTRIBUTING.MD](https://github.com/coderplex/coderplex/blob/develop/.github/CONTRIBUTING.md) as we have changed a few things and made it a lot simpler

[2017-11-20 11:24] saiabhijitht commented on #41
@M-ZubairAhmed @duttakapil @vinaypuppal I have updated the Learn card design to accommodate the deadline and no. of people learning. The cards are Normal state and On-Hover state respectively. What are your views on it.!!
<img width="961" alt="learn cards1" src="https://user-images.githubusercontent.com/23223985/33016038-f192d89c-ce12-11e7-9cb7-abfd65d45556.png">

[2017-11-20 11:33] saiabhijitht commented on #41
<img width="961" alt="learn_laravel1" src="https://user-images.githubusercontent.com/23223985/33016441-93846a70-ce14-11e7-90f5-f544b32d69d2.png">
When people are not enrolled, they can only see Overview Unit and the Edit button will be replaced by Enroll Button.

[2017-11-22 19:48] saiabhijitht commented on #66
![learn layout7](https://user-images.githubusercontent.com/23223985/33146973-2d3ed4ba-cfec-11e7-9901-9533e25f85e9.jpg)
@M-ZubairAhmed @duttakapil

[2017-11-22 20:30] duttakapil commented on #66
Let's not overuse the blue / purple color theme now @saiabhijitht. I feel the purple doesn't go along with the "Mark Completed" button.

[2017-11-23 05:10] vinaypuppal commented on #110
We can use https://github.com/thlorenz/doctoc

[2017-11-24 12:43] saiabhijitht commented on #41
@M-ZubairAhmed @duttakapil @vinaypuppal
<img width="961" alt="login6" src="https://user-images.githubusercontent.com/23223985/33211022-979b7c76-d142-11e7-9e09-28f12ca3b302.png">
<img width="961" alt="signup" src="https://user-images.githubusercontent.com/23223985/33211023-97dbb548-d142-11e7-9216-9206f1f49c47.png">
The Background image is provided in Drive Folder. https://drive.google.com/drive/u/0

[2017-11-24 13:10] pbteja1998 commented on #41
@saiabhijitht  Normal login or Normal Signup is not present. User will only be able to login through LinkedIn or Github.

[2017-11-24 14:12] saiabhijitht commented on #41
@pbteja1998 Do we need two buttons for Sign In and Sign Up. Or Is it same link for both actions..!!

[2017-11-24 14:20] pbteja1998 commented on #41
It is the same link, but whether there should be two buttons or not, that you should decide. I was unable to test sign in perfectly because I am testing it in postman. I am waiting for @rrmerugu to test it. But for now just assume that there are two separate links. I will be able to tell exactly after @rrmerugu reviews and tests the code.

[2017-11-24 15:48] vinaypuppal commented on #41
@saiabhijitht
- We don't have password based authentication
- And single  page for both `login` and `signup` with interface like this for example
![screen shot 2017-11-24 at 21 18 16](https://user-images.githubusercontent.com/8843216/33217236-093eb59a-d15d-11e7-8130-3577bd28335d.png)

[2017-11-24 17:41] saiabhijitht commented on #41
<img width="961" alt="preview4" src="https://user-images.githubusercontent.com/23223985/33220250-b200f058-d16c-11e7-8664-08c8bf56b0b3.png">
@vinaypuppal

[2017-11-24 19:29] vinaypuppal commented on #41
@saiabhijitht
- Are we change color scheme to orange or red
- Apart from colors this looks good but can we have a page instead of popup?  Because I feel popups won't look good on Mobile site.

[2017-11-24 20:38] pbteja1998 commented on #41
![screenshot_20171125-020736](https://user-images.githubusercontent.com/17903466/33223446-79872936-d185-11e7-957e-13e92fa1af09.png)

@M-ZubairAhmed This is a pop-up in mobile from some site, this doesn't look that bad.

[2017-11-24 23:06] vinaypuppal commented on #41
@pbteja1998 We gradually want few parts of our site to be a Progressive Web App so people can have rich App(and even offline) like experience. For this case I feel popups might not look good(But its just my personal opinion).

---

Yeah we can do this and I like this idea.

And @saiabhijitht can also provide mobile mockups along with desktop versions.

[2017-11-25 09:41] duttakapil commented on #41
@saiabhijitht
- GitHub login should come before LinkedIn
- Expect the green, I'm fine with this color scheme. However, I do not think the redish-orage fusion as header of the login popup looks good. We could use the same shade is some other manner perhaps

[2017-11-26 06:54] saiabhijitht commented on #41
<img width="961" alt="profile page2" src="https://user-images.githubusercontent.com/23223985/33237731-89fc670a-d2a1-11e7-94b6-3f10f7ba9113.png">
@duttakapil are we adding projects section to show as a resume, or will there be any feature to do projects in our platform...!!

[2017-11-27 08:47] bhansa commented on #41
@duttakapil can we also add the courses which are in progress in the user profile.

[2017-11-27 09:12] saiabhijitht commented on #41
@bhansa yes, we will be adding the enrolled guides, that are ongoing and completed by the user.

[2017-11-27 16:19] M-ZubairAhmed commented on #41
how are you planning to follow up with mobile versions of the mocks? do you plan to do after we finalize web version?

[2017-11-27 16:27] M-ZubairAhmed commented on #66
Lets finalize if we all agree on this? we have to start working on this soon

[2017-11-27 20:16] saiabhijitht commented on #66
![learn](https://user-images.githubusercontent.com/23223985/33287183-e4a6f5de-d3dd-11e7-9dce-44a0f44dc156.jpg)
@M-ZubairAhmed

[2017-11-28 10:21] saiabhijitht commented on #66
![learn layout10](https://user-images.githubusercontent.com/23223985/33314504-d3cd67cc-d453-11e7-88df-a2361d2545c1.jpg)
@M-ZubairAhmed @duttakapil

[2017-11-28 11:03] saiabhijitht commented on #66
<img width="961" alt="learn cards11" src="https://user-images.githubusercontent.com/23223985/33316315-910df7c0-d459-11e7-849b-82faf8e2edba.png">
@M-ZubairAhmed Follow this Mockup for Learn page. For the next version, we shall plan to have a good image in banner and for each card.

[2017-11-28 12:58] saiabhijitht commented on #41
@M-ZubairAhmed I am not really planning for mobile version for V2. But I am just keeping it in mind for events page while designing them. I need Analytics of learn page, mobile vs desktop ratio after V2 is released. We can then set our priorities for further improvements.

[2017-11-28 13:03] M-ZubairAhmed commented on #66
@saiabhijitht subject page can be finalized?

[2017-11-28 13:19] saiabhijitht commented on #41
- Learn

- [ ] Learn page

- [ ] Learn/subject page

- Events

- [ ] Events page

- Space

- [ ] Space page

- Landing Page

- [ ] Header

- [ ] Banner

- [ ] Main Content

- [ ] Footer

- Profile Page

- [ ] Self

- [ ] viewed by other community members

- [ ] viewed by recruiters

- Branding works

- [ ] Color Palette

- [ ] Logo modifications

- Common UI Elements

- [ ] Buttons

- [ ] Filters

[2017-11-28 13:36] saiabhijitht commented on #66
@M-ZubairAhmed Yes, from my side. @duttakapil  If there are there any issues from functional aspects in that page, any features are missing kind of things, please tell us. Then it could be finalized.

[2017-11-28 13:45] saiabhijitht commented on #41
@duttakapil @M-ZubairAhmed There should be a brainstorming session for profile pages, where we need to finalize the functional aspects of each page and initial layouts. Can we schedule it tomorrow..!!

[2017-11-28 14:25] majidmazin commented on #110
I would like to work on this.

[2017-11-28 14:57] vinaypuppal commented on #110
@majidmazin Sure go ahead. I will list few steps you can follow and use https://github.com/thlorenz/doctoc to generate TOC easily

1. Fork this repo as mentioned here (First 3 steps) https://github.com/coderplex/coderplex/blob/develop/.github/CONTRIBUTING.md#running-locally
1. Install `doctoc` using NPM
[code]
1. Inside coderplex project run below command to generate TOC for [Contributing.md](http

[2017-11-28 15:23] vinaypuppal commented on #41
@saiabhijitht

But I feel we should go with Mobile first design from starting as many users will be accessing site on Mobile device these days.

[2017-11-28 16:23] #110 closed

[2017-11-28 22:19] saiabhijitht commented on #41
@vinaypuppal For the V2, we decided to keep Learn Page as main priority after a couple of days we released V1.
Suppose we have concentrated on space or events page, we are not any way starting our hacker-space right now, and the events call to action is anyway directed to meetups page. As long as we do not have proper traffic to our page, it is really not a good option to spend time on events and

[2017-11-28 23:07] vinaypuppal commented on #41
@saiabhijitht

I am not not talking about any particular page here. I am just saying its better to go with mobile first design.

Yeah lets hope users will use desktop
- But according to you whats the disadvantage of going with mobile first design?
- Any specific reasons?
- According to you What features on learn page prevents users from using mobile site?

I think If we have best mobile experience

[2017-11-28 23:38] M-ZubairAhmed commented on #41
@saiabhijitht

I am putting this list on top so it stands more visible. Let me know if you can still check them off!

[2017-11-28 23:44] M-ZubairAhmed commented on #66
@duttakapil if you have any feedback please feel free to reopen

[2017-11-28 23:44] #66 closed

[2017-11-29 00:37] M-ZubairAhmed commented on #10
Reopening as:
As few domains representations are not in devicons eg : Blockchain, AI etc.
They either dont have a particular logo as they are general or are a subject. How do we plan to tackle this? suggestion.

[2017-11-29 00:47] saiabhijitht commented on #41
@vinaypuppal It is not that I never thought of mobile first design. @M-ZubairAhmed @duttakapil and myself had discussed it many days ago and came with the present layout. In-fact we thought we should go with mobile first concept, but agreed upon the idea that our major target users would use desktop platform. Still we are trying to make it mobile friendly as much as possible. It might be the left

[2017-11-29 02:24] M-ZubairAhmed opened #113 "Align icon with title in events card"
![image](https://user-images.githubusercontent.com/17708702/33354726-3e767ef2-d4da-11e7-96f4-e1aaa1279563.png)
 - Currently the icons and text are not horizontally aligned center. I guess it will look better if they were

[2017-11-29 02:33] vinaypuppal commented on #113
Is it vertically?

[2017-11-29 02:49] M-ZubairAhmed commented on #113
I mean in same line horizontally

[2017-11-29 12:15] saiabhijitht commented on #41
@M-ZubairAhmed
<details>
<summary>Signup Page</summary>
<img width="961" alt="learn" src="https://user-images.githubusercontent.com/23223985/33374567-bf81ee4e-d52c-11e7-9e79-47e352b3c288.png">
</details>
<details>
<summary>Signup Page</summary>
<img width="1921" alt="learn details" src="https://user-images.githubusercontent.com/23223985/33374568-bfc18900-d52c-11e7-9ea9-7f5dbc984809.png">
</details

[2017-11-30 06:45] M-ZubairAhmed commented on #41
@saiabhijitht

<details>
<summary>How about this design for subject page syllabus</summary>
<img width="1921" alt="learn details" src="https://user-images.githubusercontent.com/17708702/33417533-e436695e-d5c7-11e7-86c0-59064b25f1d3.png">
</details>
Also it comes with a search bar which is a good use case

[2017-11-30 10:20] saiabhijitht commented on #41
Ref:
<details>
<summary>Learn Mockup</summary>
<img width="961" alt="learn" src="https://user-images.githubusercontent.com/23223985/33314504-d3cd67cc-d453-11e7-88df-a2361d2545c1.jpg">
</details>

@M-ZubairAhmed  I am not sure if you are proposing for the Visual design or the elements present in it like the icons, secondary nesting etc.
If it is about the visual design, it is not consistent to othe

[2017-11-30 10:38] saiabhijitht commented on #113
@M-ZubairAhmed give the icons a fixed margin-bottom. I think every icon is shifted down by same amount.

[2017-11-30 10:51] M-ZubairAhmed commented on #113
@saiabhijitht wanna take a shot at this:-P.. we can guide you

[2017-11-30 11:01] saiabhijitht commented on #113
Sure. I am up for it if you guide... 👍

[2017-11-30 15:47] saiabhijitht commented on #41
@duttakapil
<details>
<summary>Profile page</summary>
<img width="961" alt="selfpage3" src="https://user-images.githubusercontent.com/23223985/33439305-233f3310-d613-11e7-91f7-8a9e13390ebf.png">
</details>

I haven't kept the source code link directly on projects cards. It can be shown in the project page and any other links related to the project. What do you think..!!

[2017-11-30 17:38] duttakapil commented on #41
@saiabhijitht the `View Project` button would in this case link to the source code or github repo of the project itself, because as I said, most projects wouldn't have some website version to view the project. Only the web-dev projects will have websites to see the project in action

[2017-11-30 17:39] duttakapil commented on #41
I'm still not certain about the `Open For Opportunities` toggle on the left hand, below the profile pic. Would like to know what others think about it

[2017-12-01 09:14] saiabhijitht commented on #41
@duttakapil we have to show many more details of the project other that the link to the source code. It is highly unlikely that people see the title and look at the source code. We still need to show the description. If needed we also need to show the team/organisation involved in the project or any other project details. That could be heavy content for a card display. What do you think..!!
Regard

[2017-12-01 09:29] buoyantair commented on #10
@M-ZubairAhmed I don't think it's a good idea to have a logo for such general subjects. Though you can use something like a chain font for blockchain and a bulb for the AI ??

[2017-12-01 13:33] buoyantair commented on #113
@saiabhijitht go for it! \o/ you rock!

[2017-12-02 06:56] M-ZubairAhmed commented on #10
that's a good suggestions . @saiabhijitht is coming up with simple representative images for those subjects

[2017-12-04 09:22] duttakapil commented on #41
@saiabhijitht sorry for the late response, but I think the amount of description you have provided in the mock is sufficient to get a gist of the project. Team / organization or contributions could be a never ending or long list, and members will be able to see that anyway when they open the Git repo of that project. Plus, this is just the early version, we can revisit this at some later time

[2017-12-04 09:24] duttakapil commented on #41
@saiabhijitht regarding this `Open For Opportunities` toggle button, what I mean is that when the user or any member of the website open their or anyone else's profile, they should not see a toggle. They should simply see if this person is currently employees anyway, and if no then are they currently looking for a job?
Changing this detail can be in the in-line-edit version of this page

[2017-12-04 09:29] duttakapil commented on #113
This is great. @M-ZubairAhmed or @vinaypuppal, if either of you could write a list of basic instructions in a follow up comment here, @saiabhijitht can use it to make the necessary change

[2017-12-04 11:14] saiabhijitht commented on #41
@duttakapil

There are many other combinations to this case actually, being employed or not being employed, the user can still be looking for an opportunity or not be looking for it. Let us not connect these two constraints.

I will look into this.

[2017-12-04 11:42] duttakapil commented on #41
@saiabhijitht we don't have meet all these combinations in this one small space. Let's define the purpose of this button, it's for potential employees to quickly find out if a member of our community is currently looking for a job or not, or if they are already employed somewhere. It's like relationship status on Facebook.

For members who might currently be employed and might still be looking for

[2017-12-04 13:01] duttakapil commented on #41
@saiabhijitht User `A`'s profile should look the same for user `A` as well as every one else on the Internet, including all other members. Similar to how my Twitter profile would look the same to me and you and everyone else on the Internet, even through not on Twitter.

It's only when user `A` enters `Edit` mode that the page should look different, where they can make changes to the said profile

[2017-12-05 16:28] saiabhijitht opened #117 "Align title and subtitle for subject page to left for the Responsive case of Tablets."
* [x] I have searched the [issues](https://github.com/coderplex/coderplex/issues) of this repository and believe that this is not a duplicate.

# Expected Behavior

The Title and Subtitle should be left aligned to the logo of the subject.

# Current Behavior

The title and subtitle in the subject page are being center aligned in case of Tablets, which should be left aligned.

## Steps to Reproduce

[2017-12-07 00:58] #113 closed

[2017-12-11 13:55] saiabhijitht commented on #41
@M-ZubairAhmed @duttakapil
<details>
<summary>Profile page guides</summary>
<img width="961" alt="selfpageguides" src="https://user-images.githubusercontent.com/23223985/33834297-85bc2140-dea8-11e7-915b-872567f19319.png">
</details>
<details>
<summary>Profile page projects</summary>
<img width="961" alt="selfpageprojects" src="https://user-images.githubusercontent.com/23223985/33834299-85fbe456-de

[2017-12-11 21:50] M-ZubairAhmed opened #118 "In landing page show one upcoming event instead of image."
- Show Next upcoming event card instead of image.
- And fallback to image when no upcoming event available.

[2017-12-11 21:52] M-ZubairAhmed opened #119 "Meetup events shows no pics"
Problem and Investigation
Images from meetup.com are not showing on the new /events page anymore

[2017-12-11 21:54] M-ZubairAhmed opened #120 "Content loaders"
We have implemented content loaders (in CSS) for `coderplex.org` events page. But didnt do it for `dev.coderplex.org` also as the layout changed in the latter one i think the former loader cannot be used. It would be nice if we can have facebook style content loader for `dev` coderplex as well.

[2017-12-11 22:05] M-ZubairAhmed commented on #41
@saiabhijitht can you open individual issues for other designs.

[2017-12-11 22:05] #41 closed

[2017-12-12 12:55] duttakapil opened #121 "Few issues with new website"
- [x] Next upcoming meetup is not showing in the Landing page - Events section (#118)

- [ ] Default image used in the Events section of Landing page should be of higher quality and more relevant (#135)
- [x] /events page doesn't have the same loading bars as our current live website (#120)

- [x] Images from meetup.com are not showing on the new /events page anymore (#119)

- [x] On /events page,

[2017-12-12 16:20] saiabhijitht opened #122 "Profile Page design"
Designing Profile page Mockup.

Tasks:

- [X] Profile page.

- [ ] Form for new users

- [ ] Edit profile page.
- [ ] Settings page

[2017-12-12 16:24] saiabhijitht commented on #122
<details>
<summary>Profile page_Guides section</summary>

<img width="961" alt="selfpageguides" src="https://user-images.githubusercontent.com/23223985/33895534-bb503c04-df86-11e7-81c8-461866487c6a.png">

</details>

<details>
<summary>Profile page_projects section</summary>

<img width="961" alt="selfpageprojects" src="https://user-images.githubusercontent.com/23223985/33895628-eae8f794-df86-11e7

[2017-12-12 16:58] buoyantair commented on #122
Heeeeey, how did you make the dropdown kind of thing @saiabhijitht ?

[2017-12-12 16:58] buoyantair commented on #122
And also, Good design!!

[2017-12-12 17:08] duttakapil commented on #120
Why is this?

[2017-12-12 17:38] buoyantair commented on #119
@M-ZubairAhmed You seem to be using a place holder image when the regex for img src doesn't yield any results.

![image](https://user-images.githubusercontent.com/5159834/33899252-ee857698-df90-11e7-9784-a7e1b75d8ab7.png)

Also, when I checked the events data, their description doesn't have any img tag.
We should check out the API docs of meetup again :3
![image](https://user-images.githubusercont

[2017-12-13 05:32] chotuaashiq commented on #118
@M-ZubairAhmed I want to solve the issue. Can you please elaborate.

[2017-12-13 05:41] pbteja1998 commented on #118
@chotuaashiq  Right now, in the landing page, in the events section, an image is being displayed. But next upcoming meetup should be shown in the place of that image.
For reference, compare events section of the landing page in both `coderplex.org` and `dev.coderplex.org`

@M-ZubairAhmed correct me if I am wrong.

[2017-12-13 05:47] chotuaashiq commented on #118
@pbteja1998 can you guide me how to solve the issue :)

[2017-12-13 05:51] pbteja1998 commented on #118
Wait for @M-ZubairAhmed to confirm if this is what actually this issue is about.

[2017-12-13 05:53] M-ZubairAhmed commented on #118
@pbteja1998 yes thank you for explaining the issue that's correct, currently there's just this static image we would like to replace it with a single upcoming event

[2017-12-13 06:00] chotuaashiq commented on #118
@M-ZubairAhmed @pbteja1998 Now can you guide me how to solve this?

[2017-12-13 06:11] pbteja1998 commented on #118
@chotuaashiq check how upcoming meetups are fetched and displayed in [events.js](https://github.com/coderplex/coderplex/blob/develop/pages/events.js). Follow the same thing, the only difference is you have to fetch and display the immediate upcoming meetup.

[2017-12-13 06:55] M-ZubairAhmed commented on #118
@chotuaashiq i hope its clear if not please feel free to shoot your concerns here. Also raise a pr (work-in-progress) one as it is better if question is related to code to answer there

[2017-12-13 06:57] M-ZubairAhmed commented on #119
@buoyantair yes can you check with meetup api the recent one?

, as before we use to get the complete html doc along with image tags hence the above structure.

[2017-12-13 07:04] M-ZubairAhmed opened #123 "Design mock up showcase"
I think keeping all designs in one place is a good idea for easy showing all in one place. Our current flow of keeping designs in issue is great for discussions let continue with that. After a design is finalized lets try to collect all in one place and have a shareable url which anyone can just view and navigate.
Do we have a tool for such task. I could think about envision for ex.

[2017-12-13 07:05] M-ZubairAhmed commented on #122
LGTM. Let me know if we can start converting this to code

[2017-12-13 08:21] duttakapil commented on #122
@M-ZubairAhmed you can start working on it. Basic structure will be mostly be the same, we might move a few things around here and there. But development should start and we should deploy the profiles soon

[2017-12-13 08:55] saiabhijitht commented on #122
@M-ZubairAhmed you can start working on it. I am working on the edit view of the page.

[2017-12-13 10:53] buoyantair commented on #119
@M-ZubairAhmed Yeah noticed :3 Will check and fix this err :3

[2017-12-13 13:49] saiabhijitht commented on #123
@M-ZubairAhmed Invisionapp is the only one I could think of now for communicating design.
https://invis.io/BMEFI5VKP
Go to this link to view the screens I have uploaded till now. I will add other screens also as I work on them from now.

[2017-12-14 09:52] M-ZubairAhmed commented on #123
This seems awesome. We can use this service is this free?

[2017-12-14 10:25] #123 closed

[2017-12-14 10:43] M-ZubairAhmed opened #125 "Implement server side pages for learn/subject/chapter"
We currently are managing change of pages inside the guide with local state, which makes sharing a particular chapter impossible. Also side bar implementation is heavy as both sidebar and right content has to keep track of the state. By assigning a particular route for each chapter makes it easy and decouples the sidebar and right content section.

[2017-12-14 13:42] saiabhijitht commented on #122
<details>
<summary>Edit profile page</summary>

<img width="961" alt="edit profile 1" src="https://user-images.githubusercontent.com/23223985/33994896-340ce8fa-e102-11e7-93e4-1370c256c51a.png">
</details>
@M-ZubairAhmed

[2017-12-14 13:45] M-ZubairAhmed commented on #122
I guess we should be able to give users list of technology? what do you say

[2017-12-14 13:55] saiabhijitht commented on #122
@M-ZubairAhmed can we do that while we still use a text input box..!! Or should we add a button to add skill..!!

[2017-12-15 11:52] vinaypuppal commented on #118
@M-ZubairAhmed

Next upcoming meetup is not showing in the Landing page - Events section

This was not implemented previously so its not a bug, So I am change issue title.

[2017-12-15 11:57] vinaypuppal commented on #118
@M-ZubairAhmed and @saiabhijitht Since event card is different now and does not match image in events section of landing page. so are we going to use existing event card or recreate as shown in image?

[2017-12-15 12:01] vinaypuppal commented on #125
Okay I will try to implement it this weekend

[2017-12-15 12:07] vinaypuppal opened #126 "Bug in `Load More` button in `Upcoming Meetups`section"
# Problem

In https://dev.coderplex.org/events

-`Load More` button in `Upcoming Meetups` section is loading more events in `Past events` Section

## Steps to Reproduce

- Open https://dev.coderplex.org/events
- Click `Load More` button in `Upcoming Events` section
- Scroll down new events get loaded in `Past events` Section `

[2017-12-16 07:52] anandpotukchi opened #127 "Prerequisites should have a link to prerequisite courses"
The "Prerequisite" block in each should  have a link  to prerequisite  courses.

eg: Laravel should have a link to basic front end - HTML & CSS and JS courses AND PHP

[2017-12-16 08:03] vinaypuppal commented on #127
Hi, @anandpotukchi

Can you open this issue in our learn repo https://github.com/coderplex/learn as this is related to `Learn curriculums` so not related to website.

Thanks

[2017-12-16 08:03] #127 closed

[2017-12-16 08:23] pbteja1998 commented on #127
@anandpotukchi  Yeah, that was the plan from the start, but PHP and frontend curriculum is not ready, hence not linked.

[2017-12-17 13:53] duttakapil opened #131 "Host React guide on our website"
Now that our [React guide](https://github.com/coderplex/learn/blob/master/web-dev/Frontend/Libraries%20%26%20Frameworks/Learn-React.md) is almost ready with the concepts, recommendations and tasks, we need to host it on our website.
We will however need to [make these additions](https://github.com/coderplex/learn/issues/29) to finish the first complete version of the guide

[2017-12-18 00:55] #119 closed

[2017-12-18 00:58] #126 closed

[2017-12-18 01:01] #120 closed

[2017-12-18 01:06] #118 closed

[2017-12-18 01:08] M-ZubairAhmed commented on #122
A button interface might be good,

[2017-12-18 08:59] vijay-teddy opened #134 "Blockchain design."

[2017-12-18 09:01] vijay-teddy commented on #10
Blockchain design.
![bc2](https://user-images.githubusercontent.com/29485213/34097756-268bb994-e400-11e7-99a3-b5c02876aeba.png)

[2017-12-18 09:03] #134 closed

[2017-12-18 10:34] saiabhijitht commented on #10
@vijay-teddy Thank you for your work on the blockchain design. But I think representing with circuit design would not be a good idea for blockchain. You can always find a signal following the circuit diagram, but block chain network can't be tracked.

I would suggest to go with a simpler thumbnails with plain background and the logo representing the guide. Look at the first two cards in the previe

[2017-12-18 11:02] vinaypuppal opened #135 "Default image used in the Events section of Landing page should be of higher quality and more relevant"
@duttakapil  For this issue, we are showing upcoming meetup when there is one available if not fall backing to image. So can you discuss with @saiabhijitht and come up with a `higher quality and more relevant` image as you said.

[2017-12-18 11:09] vinaypuppal opened #136 "Redirect users to md files on github for the learn guides which are not implemented on our site."
The view guide button on our https://dev.coderplex.org/learn and https://dev.coderplex.org page, for guides not on the website yet, should for the moment redirect to the markdown file of the guide on our GitHub.

[2017-12-18 12:43] duttakapil commented on #135
Yes. @saiabhijitht will need to work on this

[2017-12-18 19:48] #131 closed

[2017-12-18 19:55] duttakapil opened #139 "Naming standard for our guides"
We should have a naming standard for our guides. This would most likely change over time, but we can just name all of them as "Learn X" where X would stand for the technology / subject. The capitalization should also follow the name, capital `L` followed by small `earn`, and the capitalization of the topic should reflect the original name, for example `Learn React`

[2017-12-18 19:56] duttakapil commented on #139
Also, this directly leads to the idea that we should probably have a style guide in place for our learning guides

[2017-12-18 23:12] #121 closed

[2017-12-19 03:52] #125 closed

[2017-12-19 03:52] #136 closed

[2017-12-19 03:52] #139 closed

[2017-12-19 07:16] vijay-teddy commented on #10
@saiabhijitht  Alright, thanks for the feedback, I'll work on that.

[2017-12-19 07:36] vijay-teddy commented on #10
Something like this will suffice?
![untitled-1](https://user-images.githubusercontent.com/29485213/34145732-4f4eb10c-e4bd-11e7-8faf-f7c71f1caa53.png)

[2017-12-19 08:08] M-ZubairAhmed opened #141 "few sidebar revamps"
# Sidebar Revamp

- [ ] Correct sidebar menu should be highlighted corresponding to its page even after sidebar is closed
- [ ] Make the sidebar full screen on mobile
- [ ] In mobile when clicked on a menu item in sidebar, it should close and open the page

[2017-12-19 10:06] #117 closed

[2017-12-19 11:46] saiabhijitht commented on #10
@vijay-teddy do you have the list of technologies for which we need thumbnails..!!

[2017-12-19 12:36] M-ZubairAhmed commented on #10
@saiabhijitht can you post the list here

[2017-12-19 12:51] vinaypuppal commented on #141
I removed this @M-ZubairAhmed okay?

[2017-12-19 13:04] M-ZubairAhmed commented on #141
yes sure

[2017-12-19 14:21] M-ZubairAhmed commented on #122
@saiabhijitht i have edited your comment to include `new profile` page too. cool ?

[2017-12-19 14:23] M-ZubairAhmed opened #143 "Error page Design"
A custom error page design irrespective of the url.

[2017-12-19 14:28] M-ZubairAhmed opened #144 "jest no test found error"
# Expected Behavior
- If a test for that particular component is not written, it should pass jest prehook

# Current Behavior
- jest fails with _no test found_ error
![image](https://user-images.githubusercontent.com/17708702/34161527-ea505708-e4f6-11e7-9ff3-714813f9002e.png)

## Steps to Reproduce (for bugs)

1. Change any js file
1. Try to commit it.

[2017-12-19 14:43] saiabhijitht commented on #122
@M-ZubairAhmed @duttakapil Need Feedback
<details>
<summary>Form for new Account</summary>
<img width="961" alt="new account page3" src="https://user-images.githubusercontent.com/23223985/34162198-d4a0fcbc-e4f8-11e7-9fff-b3954d5e5ab8.png">
</details>

[2017-12-19 14:47] M-ZubairAhmed commented on #122
should there be a header menu bar? wont user go there instead of filling the form

[2017-12-19 14:49] saiabhijitht commented on #122
@M-ZubairAhmed Yes. We should not have it.

[2017-12-19 15:07] saiabhijitht commented on #122
@M-ZubairAhmed I think we can have their email id when they get through github or linkedin. If that is not the case, we also should have email-id section in the form.

[2017-12-19 15:32] pbteja1998 commented on #144
Yes, it's because of a breaking change in the latest `version 22.0.0` of `jest`.
PR related to that [#3672](https://github.com/facebook/jest/pull/3672)
[Changelog of Jest](https://github.com/facebook/jest/blob/master/CHANGELOG.md#features-2)

[2017-12-19 17:56] saiabhijitht commented on #10
@M-ZubairAhmed Actually I did not find the list in the Wiki. So I was asking if he was given it or not..!!

[2017-12-19 18:09] M-ZubairAhmed commented on #10
you can find the complete list from coderplex/learn repository on github

[2017-12-20 04:00] duttakapil commented on #10
@vijay-teddy you need to understand the technology for which you're trying to create a design, there is no where around it. Unless you do that, I don't think you can come up with something meaningful that we can use

[2017-12-20 04:02] duttakapil commented on #122
@saiabhijitht we should have email section either way. When we pull it from GitHub/Linkedin, the section is pre filled. Other wise it's empty and required, so the user can then fill it themselves

[2017-12-20 09:20] nmanikiran commented on #122
@duttakapil no, we shouldn't show the email when the user is doing a social signup because the user might change it.
Social signup are meant for minimize the registration / new account process. (i don't want to heat up arguments on this).

minimizing the form field would always help, keep the only required fields. rest of the fields user can fill later as well. show them as empty on the profile pa

[2017-12-20 09:45] saiabhijitht commented on #122
@nmanikiran Thank you for your insights. They are really valid points and the article is really helpful.
The form is still in Work-in-progress stage. Feel free to give any critics on it.
<details>
<summary>Form for new Account</summary>
<img width="961" alt="new account page3" src="https://user-images.githubusercontent.com/23223985/34162198-d4a0fcbc-e4f8-11e7-9fff-b3954d5e5ab8.png">
</details>

[2017-12-20 11:15] saiabhijitht commented on #10
- Blockchain
- [ ] Blockchain
- Artificial Intelligence
- [ ] AI
- [ ] ML
- Computer Science
- [ ] Computer science
- Data Science
- [ ] Data science
- Mobile Technologies
- [ ] Android
- [ ] iOS
- Languages
- [ ] Go Lang
- [ ] Python
- [ ] Rust
- [ ] JavaScript
- Web-development
- [ ] Angularjs
- [ ] Reactjs
- [ ] Vuejs
- [ ] Laravel
- [ ] Rails
@M-ZubairAhmed @vijay-teddy

[2017-12-20 13:39] vinaypuppal commented on #144
@M-ZubairAhmed Hey I was not able to reproduce this issue

### Steps used to Reproduce
- [x] Changed a js file
- [x] Try to commit it.

![screen shot 2017-12-20 at 19 07 25](https://user-images.githubusercontent.com/8843216/34209668-1f62ad8e-e5b9-11e7-93f9-f76e4690f077.png)

[2017-12-21 07:09] vijay-teddy commented on #10
@duttakapil  Si, I agree.
@saiabhijitht  Ty for the list.

[2017-12-21 14:35] saiabhijitht commented on #122
@duttakapil
<details>
<summary>Settings page</summary>
<img width="961" alt="account page1" src="https://user-images.githubusercontent.com/23223985/34259896-046a182e-e68a-11e7-91c9-0178a27bb8e8.png">
</details>

[2018-01-13 11:23] vinaypuppal opened #150 "Add Discord server badge or online/offline members count to Readme and website"
- In discord Server `Server Settings -> Widget` turn on `Enable Server Widget` switch.
- Below that, you will find `SERVER ID`
- If we insert this `SERVER ID` in this URL `https://img.shields.io/discord/<server-id>.svg?style=for-the-badge` we will get a badge that looks like this

[![Discord](https://img.shields.io/discord/102860784329052160.svg?style=for-the-badge)](https://discordapp.com/invite/

[2018-01-13 11:24] vinaypuppal commented on #150
@duttakapil Turn on widget option on discord server and tell us the server-id

[2018-01-16 18:57] vinaypuppal commented on #150
@duttakapil Whats your thought on this?

[2018-01-31 17:59] duttakapil commented on #150
Sorry for seeing this so late @vinaypuppal. This is a nice idea, but atm our online/offline numbers on Discord are not as good as we would want them to be, so I think we should do this once we have a lot more engagement and activity in our chatroom.

[2018-02-01 11:44] duttakapil opened #162 "Update Space Page"
We need to update our [/space](https://coderplex.org/space) page with some details.

- [x] Remove the pricing section
- [x] Mention that the space is free to enter, no fee
- [x] Add Location : Swecha, Gachibowli
- [x] Embed google Map with address https://www.google.co.in/maps/place/Swecha+Office/@17.4080245,78.3856767

[2018-02-01 16:07] saiabhijitht commented on #122
https://invis.io/BMEFI5VKP

@M-ZubairAhmed Lookup for Screens 9 and 10.

[2018-02-01 17:04] rkaranam commented on #162
Kapil, I will take this. Can someone guide me?

[2018-02-01 18:25] M-ZubairAhmed commented on #162
Let me know what you need @Raja
Best Regards
Md Zubair Ahmed
Web & Mobile Developer

On 1 Feb 2018 10:35 pm, "Raja Sekhar Karanam" <notifications@github.com>
wrote:

Kapil, I will take this. Can someone guide me?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/coderplex/coderplex/issues/162#issuecomment-362333

[2018-02-08 08:35] #144 closed

[2018-02-24 21:04] vinaypuppal commented on #122
@saiabhijitht Can you share the `.ai` or source files of all designs if possible.

[2018-02-25 09:55] saiabhijitht commented on #122
The source files are in Affinity designer. You will be needing the software to open the file.

[2018-02-25 12:14] buoyantair commented on #122
@saiabhijitht You can always export them to a PDF or an SVG (even better!)

[2018-02-25 14:57] saiabhijitht commented on #122
I tried SVG, but the artboards are messed up when I opened in illustrator. And also the text-type is not editable.

[2018-02-25 16:23] buoyantair commented on #122
@saiabhijitht Have you tried opening with inkscape & other software?

[2018-02-25 18:46] vinaypuppal commented on #122
@saiabhijitht

- This is fine I have access to `Affinity designer`.
- The reason I am asking for source files is so I can extract `colors`, `dimensions` and embedded `images` from you designs myself without bothering you.

[2018-02-25 22:01] saiabhijitht commented on #122
@vinaypuppal I have uploaded the two source files in the drive. Follow the link below.
https://drive.google.com/drive/folders/18E14QFS68zescpFyWvO_zF5_ryx_nra7?usp=sharing

[2018-02-25 23:36] vinaypuppal commented on #122
@saiabhijitht Thanks

[2018-02-26 06:19] nmanikiran commented on #122
@saiabhijitht on the signup page do we need `confirm password field` ? on this n no.of theories are floating on in the internet but I prefer this http://uxmovement.com/forms/why-the-confirm-password-field-must-die/

[2018-02-26 07:02] M-ZubairAhmed commented on #122
We are not storing passwords @nmanikiran

[2018-02-26 07:02] #122 closed

[2018-02-26 07:03] #150 closed

[2018-02-26 07:03] #10 closed

[2018-02-26 07:04] #162 closed

[2018-03-08 11:36] cg-cnu opened #189 "Add link to discord as forum in the navbar"
Well, am not sure if login/signup tab is supposed to take you to discord (which seems to be in-progress) but, any plans of adding a link to discord as `forum` in the top navbar.

The reason being, I talked to @duttakapil before and according to him our discord forum is the central point for connecting the community and I think keeping it in the top navbar would attract more people!

Would like to

[2018-03-15 04:42] anandpotukchi commented on #189
Discord is our chat platform. Maybe we should consider using a forum software.

[2018-04-02 11:05] usunil0 opened #200 "give a box-shadow to learn guide card"
hey! was thinking if we could add a bit of small shadow to the learning guide card so that it could look a bit elevated and does'nt look like its stuck to the background.

before:
![coderplex](https://user-images.githubusercontent.com/22676639/38194201-b4514a92-3693-11e8-92b5-7409bafc1d37.png)

after:
![coderplex2](https://user-images.githubusercontent.com/22676639/38194216-c64e68f6-3693-11e8-97a6

[2018-04-03 22:12] vinaypuppal commented on #200
cc/ @saiabhijitht

[2018-04-04 11:26] duttakapil commented on #189
Our Discord is indeed the central point for connecting the community, however the idea is to shift that central point to our website itself. We already have a button on the bottom of our landing page, directing our visitors to join our Discord chatroom

[2018-04-04 11:28] duttakapil commented on #200
I think we considered this. Our designer from the time when we deployed this thought that these elements shouldn't have any background shadow, because it indicates that they are products. IIRC. I'm sure there was some reasoning behind the decision

[2018-04-04 18:26] anandpotukchi commented on #189
I'm closing this issue as it's been resolved.

[2018-04-04 18:29] anandpotukchi commented on #189
Check n close (CnC) @duttakapil

[2018-04-05 04:55] #189 closed

[2018-06-16 17:18] buoyantair opened #215 "Edit button not working"
Edit button in the /learn/COURSE section is not working

* [x] I have searched the [issues](https://github.com/coderplex/coderplex/issues) of this repository and believe that this is not a duplicate.

# Expected Behavior

I think for now, the edit button should direct the user to the specific markdown page at the [coderplex/learn repository](https://www.github.com/coderplex/learn)

# Current Behav

[2018-06-21 08:48] buoyantair commented on #215
@vinaypuppal any reasons? :O

[2018-06-21 16:34] vinaypuppal commented on #215
@buoyantair Functionality is not implemented yet.
 This is the related code for edit button
https://github.com/coderplex/coderplex/blob/f14b617cd9d32ee4637f93d9fda06e455a0120eb/components/learn/subject-banner.js#L56

[2018-06-22 05:54] buoyantair commented on #215
@vinaypuppal I think we can just um redirect the user to the particular markdown page on github right?

[2018-06-22 17:46] vinaypuppal commented on #215
@buoyantair
Yeah sure, check if the GitHub url is in the data structure we use to render the course and pass it as `prop` to this button and turn this button into a link.

[2018-07-24 15:11] SrinandYash opened #217 "Update the details on the coderplex/space page"
Check the following and update them.
* Pricing
* Location
* Link to application form

[2018-07-24 17:10] vinaypuppal commented on #217
@duttakapil Provide the updated details.

---

For anyone who wants to send PR once @duttakapil posts updated details, you need to edit this files
- For pricing modify this lines
https://github.com/coderplex/coderplex/blob/a53296417fbe6e294ecf6337a699481ac4699cc2/pages/space.js#L138-L145

- For location, update google map URL here
https://github.com/coderplex/coderplex/blob/a53296417fbe6e294ecf633

[2018-07-25 08:56] duttakapil commented on #217
Updated Details :
- Pricing : 1000 Rs or More
- Location : [91SpringBoard, Kavuri Hills](https://www.google.co.in/maps/place/91springboard+Kavuri+Hills/@17.4405112,78.4012859)
- Link to application form : https://docs.google.com/forms/d/e/1FAIpQLSfTV7VcaZuc9a1XH3I2hXNWVr1ILOl8TRNE8Rz7Qc9Pxdca7w/viewform

[2018-07-25 18:46] #217 closed

[2018-07-27 04:46] vijay-teddy opened #220 "Privacy policy"
Add privacy policy on the page coz asking people to give their full name and phone number without giving them the reason is a bit fishy and might rise concerns on both ends.

[2018-07-27 13:43] vinaypuppal commented on #220
cc/ @duttakapil Provide Privacy Policy

[2018-07-28 12:56] duttakapil commented on #220
I was thinking we can pick up some Privacy Policy template and edit that. Any suggestions for such template?

[2018-07-28 13:55] vinaypuppal commented on #220
https://privacypolicytemplate.net/

[2018-07-28 15:14] duttakapil commented on #220
Here's the template. We can discuss and edit it accordingly :

<hr>

<h1>Privacy Policy of Coderplex Foundation</h1>

<p>Coderplex Foundation operates the https://coderplex.org website, which provides the SERVICE.</p>

<p>This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service, the Cod

[2018-07-28 15:34] duttakapil opened #222 "Terms and Conditions"
Template for our Terms and Conditions. Let's discuss, edit and publish :

<h2>Welcome to Coderplex Foundation</h2>
	<p>These terms and conditions outline the rules and regulations for the use of Coderplex Foundation's Website.</p> <br />
	<span style="text-transform: capitalize;"> Coderplex Foundation</span> is located at:<br />
	<address>91SpringBoard, Kavuri Hills Madhapur, Hydeabad<br />Telanga

[2018-07-31 22:03] HarryHeights commented on #220
Hello I see, you require a privacy policy document. It's kind of what I do on the open source community here on Github. You can check my profile to see previous policy documents I have created for other projects. I'll love to work on this one too.

If I'm provided with adequate information about how your project collects and use information extracted when your service is utilized, it shouldn't be

[2018-08-02 13:25] vinaypuppal commented on #220
implemented in #223

[2018-08-02 13:25] #220 closed

[2018-08-02 13:26] vinaypuppal commented on #222
implemented in #223

[2018-08-02 13:26] #222 closed

[2018-08-07 13:22] duttakapil opened #234 "Discuss and Update the Coderplex Manifesto"
## Coderplex Manifesto

Coderplex is a non-profit organization based out of India, with the mission of improving the state of tech in Hyderabad and gradually across the country. We want to help every single person in the country, who is interested in building learning any modern technology, by building a network of tech communities across the country.

- We believe that every single person inheren

[2018-08-26 08:36] arshadkazmi42 commented on #215
is this issue still open for grab?

[2018-08-28 16:33] buoyantair commented on #215
@arshadkazmi42 It's up for grabs!

[2018-08-29 15:13] arshadkazmi42 commented on #215
So I was working on this. Just got a thought.
On clicking edit button it should open it in new tab or in the same tab?
Any thoughts. I feel like it should open in new tab

[2018-08-29 19:18] arshadkazmi42 commented on #215
PR Created #255

[2018-08-30 15:42] #215 closed

[2018-10-20 18:00] moinuddin14 opened #303 "Upcoming Events and Recent Events should be under tabs in the Events Page than one below another"
This is more of a suggestion from a UX than a bug.

Upcoming and Recent Events are one below another. When someone clicks a couple of times "load more" button, they could be easily lost which one is Upcoming vs Recent Events. Hence, am suggesting the Events page to be modified with having tabs, one for Upcoming Events and another for Recent Events.

* [x] I have searched the [issues](https://githu

[2018-10-31 18:57] bhansa opened #307 "Greenkeeper logo is broken in Readme"
The [issues](https://github.com/coderplex/coderplex/issues) of this repository and believe that this is not a duplicate.

# Expected Behavior

Greenkeeper logo should be visible, instead of broken link

# Current Behavior

Greenkeeper logo is broken

## Steps to Reproduce (for bugs)

Open readme.md and check

## Your Environment

| Tech    | Version |
| ------- | ------- |
| OS      |      ALL   |

[2018-10-31 19:03] bhansa commented on #143
Can I propose a design @M-ZubairAhmed ?

[2018-10-31 21:48] bhansa commented on #143
I may have read this incorrect and designed a 404 webpage... have a look.

![web 1920 1](https://user-images.githubusercontent.com/9723884/47820822-ad6fb180-dd84-11e8-86b0-133d08e2f2f8.png)

[2018-11-01 02:46] M-ZubairAhmed commented on #143
Looks good, can you replace React logo with something else :-P

[2018-11-01 06:37] buoyantair commented on #143
@M-ZubairAhmed LOL :D True, @bhansa maybe we can use coderplex logo in between. But tbh I don't think we need to have a logo in the 404 :3

[2018-11-01 07:28] bhansa commented on #143
I thought of it @duttakapil, but it would look redundant since it's in header as well as page.

[2018-11-01 07:29] duttakapil commented on #143
That's true. We should come up with something more interesting

[2018-11-01 07:32] duttakapil commented on #143
Here's some inspiration : https://www.canva.com/learn/404-page-design/

[2018-11-08 21:41] bhansa commented on #143
![web 1920 1](https://user-images.githubusercontent.com/9723884/48229075-06ff5e00-e3cd-11e8-8fb2-c036676dd654.png)

[2018-11-09 02:43] M-ZubairAhmed commented on #307
@bhansa Please follow this repo to update the badge https://github.com/greenkeeperio/badges

[2018-11-09 02:45] #200 closed

[2018-11-09 02:45] M-ZubairAhmed commented on #143
Please go ahead and send a pr

[2018-11-09 02:46] M-ZubairAhmed commented on #303
cc @duttakapil

[2018-11-09 22:55] vinaypuppal commented on #307
@bhansa We no longer use greenkeeper that's the reason why it has been broken. We now use https://renovatebot.com/ to auto-update project dependencies.

And renovatebot does not offer badges yet so we can either remove greenkeeper badge or use https://david-dm.org if we want to show project dependencies state. Like below

![coderplex](https://david-dm.org/coderplex/coderplex.svg)

[2018-11-15 06:36] duttakapil opened #320 "Update mission statement to include "Tech Education""
![image](https://user-images.githubusercontent.com/6577624/48534671-c02ece00-e8ce-11e8-8e55-1be693bb03b2.png)

The Coderplex mission statement on the landing page of our website needs to be changed to **"On a mission to improve the state of Tech Education across India"**

[2018-11-18 22:32] moinuddin14 commented on #303
@duttakapil I ain't much aware of the frontend, but will surely give this one a try.

[2018-11-21 09:39] shahednasser commented on #320
I will work on this

[2018-11-29 13:57] duttakapil opened #331 "Creating A Donation Page For Coderplex Foundation"
Yesterday, the official bank account for Coderplex Foundation was finally opened with YES Bank. We can now operate it for all organization related income and expenses and also to receive donations.

We need to put up a page or section on our website where members of the community, or any visitor of the website, can go and donate money to our non-profit org.

### Tasks :
- [ ] Design / mockup for t

[2018-12-07 13:41] duttakapil commented on #331
@vinaypuppal @M-ZubairAhmed

[2018-12-09 11:45] renovate[bot] opened #336 "Dependency deprecation warning: grid-styled (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v5.0.2) of dependency `grid-styled` has the following deprecation notice:

`This package has been renamed to @rebass/grid`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package author you think this is a mistake.

Affected package file(s): `packag

[2019-01-13 20:51] addictd commented on #307
heyy, im a beginner to open source. I can update it as shown by the @vinaypuppal

[2019-01-14 19:41] addictd commented on #307
@bhansa @vinaypuppal  i have made the pr
https://github.com/coderplex/coderplex/pull/352

[2019-01-15 10:38] addictd commented on #303
@duttakapil heyyy , i did the changes as suggested and made a pr . This is the preview : https://deploy-preview-353--coderplex.netlify.com

[2019-01-17 15:15] duttakapil commented on #303
This looks pretty good @addictd. Good job :D
@vinaypuppal could you review this once and merge it?

[2019-01-17 16:32] addictd commented on #331
@duttakapil
I can build a front end ui for the given job.
If no one is working and you( @duttakapil  ) confirm , than i can start working on it.

[2019-01-18 22:34] #303 closed

[2019-01-18 22:34] #307 closed

[2019-05-03 00:14] vinaypuppal commented on #331
@duttakapil You can set up a donation page easily with Razorpay Pages which is released today. https://razorpay.com/payment-pages/

[2019-05-03 15:05] duttakapil commented on #331
@vinaypuppal RazorPay and the like charge a commission fee of 2% correct? Is there a way to setup a donation page by circumventing the commission fee? I was thinking if we only relied on UPI payments it could work.

[2019-05-03 15:47] vinaypuppal commented on #331
Yes, they may have an option to waive commission for NGO's, you can contact them and check.

[2019-05-04 06:37] M-ZubairAhmed commented on #331
@duttakapil may be we can have phonepe upi page, i dont think they charge any fee

[2019-05-09 05:47] duttakapil commented on #331
Yes, UPI is free, it doesn't have any transaction fee. We already have a UPI ID : `coderplex@yesbank`

[2019-08-09 07:49] #331 closed

[2019-08-09 07:53] duttakapil opened #509 "Add Donation Button to Homepage Navbar"
We have recently created a donations page for Coderplex (https://donate.coderplex.org) and now we need to add a donations button to our homepage nav bar. Clicking the button should simply redirect users to our donations page.

We should try to make the donate button stand out a bit from the other buttons in our navbar. Maybe it should have a filled color based on our color theme

[2019-08-09 08:05] duttakapil opened #510 "Redesign our Donations page (UI/UX)"
We recently launched [our donations page](https://donate.coderplex.org). We followed our [Razorpay Payments Page](https://pages.razorpay.com/pl_Crzg2iMFz8fHN1/view) design, but we want to redesign the UI/UX of the page. Ideally, I think we should try to follow the example of [Khan Academy's donation page](https://www.khanacademy.org/donate)

Open to any suggestions or design inputs. You can contri

[2019-08-09 14:13] #510 closed

[2019-08-09 16:07] ektaarora3501 commented on #509
Can I work on this issue?

[2019-08-10 11:48] sidoosh commented on #509
@duttakapil  Do you want donation's page to open in new tab?

[2019-08-10 18:43] duttakapil commented on #509
No it's okay if it's opened in the same tab

[2019-08-10 18:45] duttakapil commented on #509
Let's see. The donation page is built separately from the main website, so it might not be that simple for people to go back to the homepage after they open the donation page. In this case, we should open it in a new tab.

However, what should ideally be done is, the donation page should be rebuilt to have a navbar of sorts at the top that people can use to navigate to the home page or the rest of

[2019-08-13 07:39] vinaypuppal commented on #509
Closed in #511

[2019-08-13 07:39] #509 closed

[2019-08-30 05:37] duttakapil opened #529 "./feedback form for collecting feedback from our meetups"
We need to setup a feedback form on our website on coderplex.org/feedback, similar to our [Join form](https://coderplex.org/join/), but in this form we need to simply collect feedback on the meetup and experience of the attendees, and ask for any suggestions they have for future meetups.

Google Form : https://bit.ly/cpx-feedback

### Fields

First name

Last name

Email id

Phone number

Professi

[2019-09-01 17:10] krushiraj commented on #529
Is anyone currently working in this? I'm thinking of working on this.

[2019-09-03 07:48] duttakapil commented on #529
No one else is working on this as of now @krushiraj

[2019-09-03 08:53] krushiraj commented on #529
Okay, then I'll do this @duttakapil

[2019-09-04 05:34] krushiraj commented on #529
@duttakapil shall I add Feedback in the nav items? or are we going to use that in other places? Please have a look at the screenshots and suggest any changes, if there are any.
![Screenshot (57)](https://user-images.githubusercontent.com/19507241/64228204-b466d380-cf03-11e9-9455-85724af9a9fe.png)
![Screenshot (56)](https://user-images.githubusercontent.com/19507241/64228205-b4ff6a00-cf03-11e9-9291

[2019-09-05 18:58] duttakapil commented on #529
No need to add it to the navbar. We are not looking for feedback from people who visit the website, only from folks who attend our meetups

[2019-09-05 18:59] duttakapil commented on #529
Ideally, we should have a CMS system so that people can select the meetup from a drop down menu for which they are giving feedback. But that doesn't seem like something we will be able to build right now

[2019-09-05 19:03] krushiraj commented on #529
Then it should be ideally visible as a link or button [here](https://coderplex-git-fork-krushiraj-issue-529-add.coderplex.now.sh/events)
![image](https://user-images.githubusercontent.com/19507241/64371255-c0ef4700-d03d-11e9-9784-81d563314b19.png)
What are your thoughts on this? Do you have any additional inputs?

[2019-09-20 05:28] krushiraj commented on #143
Is this still in WIP? Please close this, if the issue has been resolved.

[2019-11-25 09:50] #529 closed

[2019-11-25 09:50] #141 closed

[2019-11-25 09:50] #143 closed

[2019-11-25 10:03] duttakapil opened #581 "Update space page details"
New space location : InnovationHQ, Banjara Hills

Map link : https://www.google.co.in/maps/place/Innovationhq+Co-Working+Space/@17.4258988,78.4430299,17z/data=!4m5!3m4!1s0x3bcb916257963565:0x32cd366cd5981112!8m2!3d17.4258937!4d78.4452186

Pricing :
50 Rs / hour < 3 hours
30 Rs / hour > 3 hours

Application form :  http://bit.ly/cpx-space-apply

Will share more details soon

[2019-11-26 10:33] KirankumarAmbati commented on #581
After changes:

![image](https://user-images.githubusercontent.com/9110567/69622044-362f4e80-1066-11ea-838b-7def4755309f.png)

[2019-11-26 10:35] KirankumarAmbati commented on #581
@duttakapil, please can you verify if the UI is looking as expected. I'll raise PR with my changes.

[2019-11-26 10:59] duttakapil commented on #581
Go ahead and raise a PR, we will discuss then

[2019-11-26 14:10] KirankumarAmbati commented on #581
Getting this error on git commit pre-hook. Need help!

![image](https://user-images.githubusercontent.com/9110567/69640495-730a3e00-1084-11ea-8e3b-808857055e61.png)

[2019-11-26 17:57] #581 closed

[2019-11-26 17:59] #336 closed

[2019-11-26 18:00] #135 closed